{% extends "_default.html" %}
{% set active_page = "past-executive" %}

{% block title %}Past Executive{% endblock %}


{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Executive</h4>
    <p class="card-text">
        The following is a list of past executive members of EBESS.
    </p>
    <h6 class="card-title">2016</h6>
    <p class="card-text">
        <ul>
            <li>Ben Jarrett - President</li>
            <li>Sam Hayes - Vice President / Sponsorship</li>
            <li>Ellie Deeb - Secretary</li>
            <li>Cameron McDonald - Treasurer</li>
            <li>Nicole Weston - Social Officer</li>
            <li>Evan Burns - Careers Officer</li>
            <li>Ryan Boyle - Media Officer</li>
            <li>Marcus Herbert - Technical Officer</li>
        </ul>
    </p>
    <h6 class="card-title">2015</h6>
    <p class="card-text">
        <ul>
            <li>Ngaire Howard - President</li>
            <li>Jared Casey - Vice President / Sponsorship</li>
            <li>Emily Daubney - Secretary</li>
            <li>Eden Maynard - Treasurer</li>
            <li>Nicole Weston - Social Officer</li>
            <li>Ben Jarrett - Careers Officer</li>
            <li>Ben McNamara - Media & Publications Officer</li>
            <li>Callum Sinclair - IT Officer</li>
        </ul>
    </p>
    <h6 class="card-title">2014</h6>
    <p class="card-text">
        <ul>
            <li>Max Wasley - President</li>
            <li>Joel Addison - Vice President / IT Officer</li>
            <li>Callum Sinclair - Secretary</li>
            <li>Jared Casey - Treasurer</li>
            <li>Greg Garrad - Social Officer</li>
            <li>Bradley Coonan - Careers Officer</li>
            <li>Ngaire Howard - Media Officer</li>
        </ul>
    </p>
    <h6 class="card-title">2013</h6>
    <p class="card-text">
        <ul>
            <li>Alistair Francis - President</li>
            <li>Max Wasley - Vice President</li>
            <li>Sean Purdon - Secretary</li>
            <li>Aiden Vuocolo - Treasurer</li>
            <li>Joshua Goodwin - Social Officer</li>
            <li>Jeremy Hales - Careers Officer</li>
            <li>Bradley Coonan - Media Officer</li>
        </ul>
    </p>
    <h6 class="card-title">2012</h6>
    <p class="card-text">
        <ul>
            <li>Jack Gaynor</li>
            <li>Jeremy Herbert</li>
            <li>Gavin Kremor</li>
            <li>Alistair Francis</li>
            <li>Elliot Smith</li>
            <li>Bianca Crow</li>
            <li>Jasmine Smith</li>
            <li>Thomas Haupt</li>
            <li>Alex Franklin</li>
            <li>Emerson Keenan</li>
        </ul>
    </p>
    <h6 class="card-title">2011 (Founding Year)</h6>
    <p class="card-text">
        <ul>
            <li>Jack Gaynor</li>
            <li>Jeremy Herbert</li>
            <li>Gavin Kremor</li>
            <li>Doug Morrison</li>
            <li>Elliot Smith</li>
            <li>Bianca Crow</li>
            <li>Jasmine Smith</li>
            <li>Thomas Haupt</li>
            <li>Alex Franklin</li>
            <li>Emerson Keenan</li>
        </ul>
    </p>
  </div>
</div>
{% endblock %}