{% extends "_default.html" %}
{% set active_page = "about" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">About</h4>
    <h4 class="card-title">About</h4>
      
    <p class="card-text">
        EBESS is UQ's Electrically Based Engineering Student Society. It was formed in 2011 as a 
        representative of students in Electrical, Electrical and Biomedical, 
        Electrical and Computer, Software, and Mechatronics engineering disciplines
        within the greater UQ community.
    </p>

    <p class="card-text">
        The society provides students with the networking opportunities and academic support they need
        to become a well rounded engineer. Such networking events range from the casual dodgeball tournaments 
        to professional company tours and industry interactions. 
    </p>
      
    <p class="card-text">
        The society organises and runs workshops to mentor aspiring engineers in forming basic electrical skills, such as 
        soldering and PCB design. Small projects are available for students to solidify their soldering skills 
        and develop a deeper understanding of electronics.
    </p>

    <p class="card-text">
        The society's current constitution can be found <a href="../article/constitution.html">here</a>.
    </p>

    <p class="card-text">
        For further information on EBESS please <a href="../contact">contact a member</a> of our 
        <a href="../executive">Executive</a>.
    </p>
  </div>
</div>
{% endblock %}
