{% extends "_default.html" %}
{% set active_page = "about" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">About</h4>
    <p class="card-text">
        EBESS is UQ's Electrically Based Engineering Student Society. It was formed in 2011 as a 
        way to provide engineering students with assistance and networking (both social and professional) 
        opportunities. Applications from any part of the university are welcome, we are always happy to 
        meet new people even if you are not studying engineering.
    </p>
    <p class="card-text">
    </p>

    <p class="card-text">
        <i>
            1. To provide representation for Electrical, Electrical and Aerospace, Electrical and Biomedical, 
            Computer Systems, Software, Software Systems and Aerospace and Mechatronics engineers within the 
            greater university of Queensland community.
        </i>
    </p>
    <p class="card-text">
        <i>
            2. To provide a means for members of the previously mentioned engineering disciplines to interact 
            in a social environment.
        </i>
    </p>
    <p class="card-text">
        <i>
            3. To provide academic support and professional development opportunities to members of the previously 
            mentioned engineering disciplines.
        </i>
    </p>
    <p class="card-text">
        <i>
            The Electrically Based Engineering Student Society (EBESS) will achieve its aim of providing representation 
            for its members to the greater UQ community be encouraging members to approach the elected officials/committee 
            with any relevant issues that they have, which the committee enquire to the community on behalf of its members.
             Likewise, the elected officials /committee will act as a contact point for the societies members within the 
             greater community. Scheduled meetings/emails/newsletters/updates will inform the members of any issues.
        </i>
    </p>
    <p class="card-text">
        <i>
            The aim of providing a means for member to interact in a social environment will be met by holding regular meetings 
            so that members can interact with each other. Social events will also be organised to provide a means for the 
            societies members to get together in an environment external to the University.
        </i>
    </p>
    <p class="card-text">
        <i>Finally, through the scheduled meetings the members of the society will be able to ask the advice of other members 
            with regards to their perspective degrees. At the scheduled meetings peer activities such as workshops or study 
            nights may be organised to assist members. Also, an online forum is planned to allow any member to post questions 
            to which the entire society can answer. Professionals from various fields may be invited to speak to the society 
            to provide insight into industry and advise on the professional development of members of the society.
        </i>
    </p>

    <p class="card-text">
        The society's current constitution can be found <a href="../article/constitution.html">here</a>.
    </p>

    <p class="card-text">
        For further information on EBESS please <a href="../contact">contact a member</a> of our 
        <a href="../executive">Executive</a>.
    </p>
  </div>
</div>
{% endblock %}