{% extends "_default.html" %}
{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Banner -->
<div class="text-center banner">
    <img src="{% if active_page != 'home' %}../{% endif %}img/banner.png"></img>
</div>

<!-- Main content -->
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Welcome to EBESS 2018</h4>
    <p class="card-text">
        Welcome to 2018! In 2018, EBESS is going to be bigger and better - that's right, more social events, 
        more tutorials, more sports. If you haven't grabbed your membership yet, you can grab it from 
        the 
        <a href="http://uqeus.com.au">UQ EUS Website</a>! 
        If you haven't followed us on facebook, give us a 
        <a href="http://facebook.com/uqebess">quick like</a> 
        here!

        We're looking forward to providing thEBESSt events we possibly can this year!
    </p>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">EBESS Membership</h4>
    <h5 class="card-title">Why join EBESS?</h5>
    <p class="card-text">
        There is absolutely no reason not to join EBESS! You'll get access to all of our events, 
        plus tutoring and electronics. Not to mention membership of EUS, and all the perks that come with that!
    </p>
    <h5 class="card-title">2017 Events, Not to be missed!</h5>
    <p class="card-text">
        We know that study can sometimes be challenging, so EBESS is on hand to provide you with the opportunity to
        socialise! This year we are bringing back some of our old favourites including dodgeball and SWOTVAC tutoring.
    </p>
  </div>
</div>
{% endblock %}
