{% extends "_default.html" %}
{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Welcome to EBESS 2017</h4>
    <h6 class="card-subtitle mb-2 text-muted">By media on Fri, 20/02/2015</h6>
    <p class="card-text">
        Welcome to 2017! In 2017, EBESS is going bigger and better - that's right, more social events, 
        more tutorials, more sports. If you haven't grabbed your membership yet, you can grab it from 
        the 
        <a href="http://uqeus.com.au">UQ EUS Website</a>! 
        If you haven't joined us on facebook, send us a 
        <a href="http://facebook.com/uqebess">friend request</a> 
        here!

        We're looking forward to providing thEBESSt events we possibly can this year
    </p>
    <a href="../article/welcome-ebess-2017.html" class="card-link">Read more</a>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">EBESS Membership</h4>
    <h6 class="card-subtitle mb-2 text-muted">By media on Fri, 20/02/2015</h6>
    <h5 class="card-title">Why join EBESS?</h5>
    <p class="card-text">
        There is absolutely no reason not to join EBESS! You'll get access to all of our events, 
        plus tutoring and Relectronics. Not to mention membership of EUS, and all the perks that come with that!
    </p>
    <h5 class="card-title">2017 Events, Not to be missed!</h5>
    <p class="card-text">
        We know that study can somtimes be challenging, so EBESS is on hand to provide you with the opportunity to
        socialise! This year we are bringing back some of our old favourites...
    </p>
    <a href="../article/ebess-membership-2017.html" class="card-link">Read more</a>
  </div>
</div>
{% endblock %}