{% extends "_default.html" %}
{% set active_page = "executive" %}

{% block title %}Executive{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Executive</h4>
    <p class="card-text">
        The following is a list of executive members in EBESS. To contact an 
        executive specifically, please send an email to the corresponding recipient.
    </p>
    <p class="card-text">
        For general enquiries, please send all mail to 
        <a href="mailto:contact@uqebess.com">contact@uqebess.com</a>
    </p>
    <div class="card-text">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Executive</h4>
            <div class="container">
              <div class="row">
                  <div class="col-3">
                      <img></img>
                  </div>
                  <div class="col-9">
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}