{% extends "_default.html" %}
{% set active_page = "executive" %}

{% block title %}Executive{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Executive</h4>
    <p class="card-text">
        The following is a list of executive members in EBESS. To contact an 
        executive specifically, please send an email to the corresponding recipient.
    </p>
    <p class="card-text">
        For general enquiries, please send all mail to 
        <a href="mailto:contact@uqebess.com">contact@uqebess.com</a>
    </p>
    <div class="card-text">
      <div class="container executive-container">
        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/SamBloom.jpg"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Sam Bloom</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  President
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:president@uqebess.com">president@uqebess.com</a>
            </h6>
            <p class="card-text">
                Manages the executive team and communicates with staff and students within the 
                university about EBESS related matters. Provides a public face for the student society 
                both within the university itself and in the public domain. Acts as the main point of 
                contact between EBESS and EUS, Clubs and Societies and the various University departments.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/AaronBarkerSmith.jpg"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Aaron Barker-Smith</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  Vice-President / Sponsorship
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:vicepresident@uqebess.com">vicepresident@uqebess.com</a> /
                <a href="mailto:sponsorship@uqebess.com">sponsorship@uqebess.com</a>
            </h6>
            <p class="card-text">
                Assists in management of the executive team and communication with staff and
                students within the university about EBESS related matters. Acts as a second President.
            </p>
            <p class="card-text">
                Liason between EBESS and companies or groups offering sponsorship for events and 
                general funding. Helps form partnerships between EBESS and companies and organisations.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/JonathanGarnier.jpg"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Jonathan Garnier</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  Secretary
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:secretary@uqebess.com">secretary@uqebess.com</a>
            </h6>
            <p class="card-text">
                Organization and documentation of EBESS meetings as well as communication between 
                executive teams with EBESS and between members and executives. Keeps official documentation 
                up to date such as the bank account documentation and the AGM executive handover documentation.
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/MatthewScriven.jpg"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Matthew Scriven</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  Treasurer
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:treasurer@uqebess.com">treasurer@uqebess.com</a>
            </h6>
            <p class="card-text">
                In charge of the budgeting and spending within EBESS. Keeps records of spending and income.
                Accountable for all spending that the club does. Must maintain the books in accordance with 
                the Clubs and Societies regulations. Must provide the books for the yearly audit.
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/RizalMahoney.jpg"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Rizal Mahoney</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  Social Officer
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:social@uqebess.com">social@uqebess.com</a>
            </h6>
            <p class="card-text">
                Organizes events within EBESS, social or otherwise. Budgeting and booking of event 
                location as well as organizing food and drink for attendees of the events.
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/MartinLeRossignol.jpg"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Martin Le Rossignol</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  Careers Officer
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:careers@uqebess.com">careers@uqebess.com</a>
            </h6>
            <p class="card-text">
                Responsible for professional development of EBESS members. Responsible for the 
                organization of educational events involving EBESS. Liaison between EBESS and 
                external companies or groups offering educational seminars or training. Liaison 
                between EBESS and recruitment officers of companies.
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/JoelBulow.jpg"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Joel Bulow</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  Media Officer
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:media@uqebess.com">media@uqebess.com</a>
            </h6>
            <p class="card-text">
                Responsible for branding, creation and distribution of all EBESS related documents 
                and branded items. Ensures all EBESS branded items are distributed in ways that 
                uphold the image and ideals of EBESS.
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3 col-sm-12 text-center">
            <img class="executive-image" src="../img/LucaRobertson.png"></img>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="executive-title">
              <h5 class="card-title">Luca Robertson</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  Tehnical/IT Officer
              </h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="mailto:support@uqebess.com">support@uqebess.com</a>
            </h6>
            <p class="card-text">
                Responsible for technical aspects of the society. Includes projects for students, 
                like kits, or other technical undertakings.
            </p>
            <p class="card-text">
                Responsible for design and maintenance of the EBESS website. Manages the executive 
                email system and mailing list for members.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}