{% extends "_default.html" %}
{% set active_page = "" %}

{% block title %}PUT TITLE HERE{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">PUT TITLE HERE</h4>
    <p class="card-text">
        IN HERE GOES A PARAGRAPH
    </p>
    <p class="card-text">
        HERE IS ANOTHER ONE
    </p>
    <p class="card-text">
        <a href="..">THIS IS HOW TO DO LINKS</a>
        <a href="../events">THIS LINKS TO EVENTS</a>
    </p>
  </div>
</div>
{% endblock %}