{% extends "_default.html" %}
{% set active_page = "" %}

{% block title %}Cochlear Company Profile{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <a href="http://www.cochlear.com"><img class="card-img-top" src="../img/cochlear-logo.png" alt="Cochlear"></a>
    <h4 class="card-title">Cochlear Company Profile</h4>
	<h4 class="card-title">This is a test again</h4>
    <h5 class="card-title">What is your main service or product?</h5>
    <p class="card-text">
      <ul>
        <li>A full range of implantable hearing solutions</li>
        <li>We are well known for the Cochlear Implant, that treats hearing loss as a result of damage or injury to the Cochlear.</li>
        <li>All our products (sound processer upgrades and accessories etc) are backwards compatible with the very first implant produced.</li>
      </ul>
    </p>
    <h5 class="card-title">Do you have a secondary service/product?</h5>
        We also produce other implantable hearing solutions that address injury or damage from outer ear right through to
        the nerve connection to the brain. (e.g. Bone conduction implant and Acoustic Implant, various accessories)
    </p>
    <h5 class="card-title">Do you offer vacation work to undergraduates?</h5>
    <p class="card-text">
        Yes
    </p>
    <h5 class="card-title">Do you offer graduate positions within your company?</h5>
    <p class="card-text">
        Yes
    </p>
    <h5 class="card-title">What qualities do you look for in a graduate employee?</h5>
    <p class="card-text">
      We look for individuals who are passionate about making a difference in peoples lives with a high customer
       focus. In order for us to achieve this, they need to be able to collaborate with others, work effectively 
       in a team, be personally accountable for their work and thrive on problem solving.
    <p class="card-text">
    </p>
      We are a medical device industry with very high quality standards that invests research and development. 
      You will need to be meticulous with your record keeping and thorough in your work, whilst having the drive 
      and tenacity to find solutions.
    </p>
    <h5 class="card-title">What is your company size in terms of employees, and what is the company scale?</h5>
    <p class="card-text">
        1000+, and an international scale.
    </p>
    <h5 class="card-title">Do you have any notable industry partners or projects you would like our members to know about? If so, please provide a brief description.</h5>
    <p class="card-text">
        Cochlear partners with various companies to deliver better hearing solutions. Most recently a technology 
        partnership between Cochlear and GN ReSound lead to producing the industries first wireless accessories - 
        the Mini Microphone, the Phone Clip and the TV Streamer.
    </p>
    <h5 class="card-title">Do you have any accreditations or awards?</h5>
    <p class="card-text">
      Cochlear has received many awards for its designs and products. Most recently we received The Australian 
      Employer of Choice Award in the category "Engineering, R &amp; D and Manufacturing".
    </p>
    <h5 class="card-title">What is your vision?</h5>
    <p class="card-text">
      We help people hear and be heard
    </p>
    <p class="card-text">
      We empower people to connect with others and live a full life<br>
      We transform the way people understand and treat hearing loss<br>
      We innovate and bring to market a range of implantable hearing solutions that deliver a lifetime of hearing outcomes
    </p>
    <p class="card-text">
      Hear Now. And Always
    </p>
  </div>
</div>
{% endblock %}