{% extends "_default.html" %}
{% set active_page = "" %}

{% block title %}Constitution{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Constitution</h4>
    <p class="card-text">
        The current Constitution of Electrically Based Engineering Student Society.
    </p>
    <p class="card-text">
        Passed at the Annual General Meeting, 25 October 2013.
    </p>
    <p class="card-text">
        <a href="../files/EBESS_Constitution.pdf">Download</a>
    </p>
  </div>
</div>
{% endblock %}