{% extends "_default.html" %}
{% set active_page = "" %}

{% block title %}EM Solutions Company Profile{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <a href="http://www.emsolutions.com.au/"><img class="card-img-top" src="../img/em-solutions.png" alt="EM Solutions"></a>
    <h4 class="card-title">Em Solutions Company Profile</h4>
    <h5 class="card-title">What is your main service or product?</h5>
    <p class="card-text">
      <ul>
        <li>Broadband satellite on-the-move terminals</li>
        <li>Satcom block up convertors (BUCs)</li>
        <li>Satcom low noise down convertors (LNBs)</li>
        <li>High speed (10Gbps) E-band backhaul radios</li>
      </ul>
    </p>
    <h5 class="card-title">Do you have a secondary service/product?</h5>
    <p class="card-text">
      <ul>
        <li>Assembly and test of products for other companies, for example, radar units</li>
        <li>Engineering design of products for other companies</li>
      </ul>
    </p>
    <h5 class="card-title">Do you offer vacation work to undergraduates?</h5>
    <p class="card-text">
        Yes
    </p>
    <h5 class="card-title">Do you offer graduate positions within your company?</h5>
    <p class="card-text">
        Yes
    </p>
    <h5 class="card-title">What qualities do you look for in a graduate employee?</h5>
    <p class="card-text">
      <ul>
        <li>Commitment "beyond the call of duty"</li>
        <li>Ability to communicate clearly and to document meticulously</li>
        <li>Extremely strong results in electronics, communications, or mechatronics subjects</li>
        <li>Ability to work in small teams and perform a variety of different tasks</li>
      </ul>
    </p>
    <h5 class="card-title">What is your company size in terms of employees, and what is the company scale?</h5>
    <p class="card-text">
        50-100, and an international scale.
    </p>
    <h5 class="card-title">Do you have any notable industry partners or projects you would like our members to know about? If so, please provide a brief description.</h5>
    <p class="card-text">
        We work with CSIRO - on a joint project to further develop the E-band 10Gbps 
        radio to even high speeds; and with UQ - to develop a flat panel satellite terminal antenna.
    </p>
    <p class="card-text">
        We collaborate with numerous international companies, for instance, Intellian of Korea - to 
        integrate their modem into an EM Solutions terminal so that our system can operate over the 
        Inmarsat GX global satellite network.
    </p>
    <p class="card-text">
        Our customers include blue-chip firms such as Thales, BAE Systems, Selex, Indra, Jepico, and Airbus.
    </p>
    <h5 class="card-title">Do you have any accreditations or awards?</h5>
    <p class="card-text">
      <ul>
        <li>Finalist 2015 Qld Export Awards (Manufacturing and ICT categories)</li>
        <li>ATSE Clunies Ross Medal</li>
        <li>AIRG SME Innovation Award</li>
      </ul>
    </p>
    <h5 class="card-title">What is your vision?</h5>
    <p class="card-text">
        To inspire customers globally, as a technology developer of the most innovative microwave and on-the-move 
        radio and satellite products that help to deliver real-time telecommunications anywhere in the world.
    </p>
  </div>
</div>
{% endblock %}