{% extends "_default.html" %}
{% set active_page = "" %}

{% block title %}Sequential Logic Clock Kit{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Sequential Logic Clock Kit</h4>
    <p class="card-text">
        Download the guide <a href="../files/Sequential_logic_clock_kit_guide_0.pdf">here</a>.
    </p>
    <p class="card-text">
        Find all files (schematics, PCB gerbers, PCB artwork, BOM, acrylic laser cut 
        .dxf files, etc) in this 
        <a href="../files/Final_clock_files.zip">handy zip file</a>.
    </p>
    <p class="card-text">If you have any problems, questions, comments, or anything else 
      regarding this kit, please don't hesitate to email 
      <a href="mailto:technical@uqebess.com">technical@uqebess.com</a>.
    </p>
    <div class="card-text text-center">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/BaHW8LVWzsI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}