{% extends "_default.html" %}
{% set active_page = "" %}

{% block title %}Subject Guide 2017{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Subject Guide 2017</h4>
    <p class="card-text">
        The 2017 executives have put a subject guide together to hopefully guide you 
        through the courses in Electrical and Biomedical, Computer Systems, Software, 
        Software Systems and Aerospace and Mechatronic Engineering.
    </p>
    <p class="card-text">
        <a href="https://gallery.mailchimp.com/743fd2ce61478236fea2af048/files/EBESS_Subject_Guide_2017.pdf">Check it out here!</a>
    </p>
  </div>
</div>
{% endblock %}