{% extends "_default.html" %}
{% set active_page = "" %}

{% block title %}Welcome to EBESS 2017{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Welcome to EBESS 2017</h4>
    <h6 class="card-subtitle mb-2 text-muted">By media on Fri, 20/02/2015</h6>
    <p class="card-text">
        Welcome to 2017! In 2017, EBESS is going bigger and better - that's right, more social events, 
        more tutorials, more sports. If you haven't grabbed your membership yet, you can grab it from 
        the 
        <a href="http://uqeus.com.au">UQ EUS Website</a>!
         If you haven't joined us on facebook, send us a 
        <a href="http://facebook.com/uqebess">friend request</a> 
        here!

        We're looking forward to providing thEBESSt events we possibly can this year
    </p>
  </div>
</div>
{% endblock %}