{% extends "_default.html" %}
{% set active_page = "contact" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Contact</h4>
    <p class="card-text">
        Need to get in contact with EBESS?
    </p>
    <p class="card-text">
        If you have a:
        
        <ul>
            <li>General enquiry, please send an email to <a href="mailto:contact@uqebess.com">contact@uqebess.com</a>.</li>
            <li>Specific topic, please an email to the <a href="../executive">Executive</a> member who best matches your topic.</li>
        </ul>
    </p>
  </div>
</div>
{% endblock %}