/* Logo Image */
.logo {
    height: 50px;
}

/* Background canvas styling */
#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* Nav bar centering */
.navbar-collapse {
    width: auto !important;
}

/* Main container styling */
.main-container {
    padding-top: 15px;
    padding-bottom: 5px;
}

/* Footer container styling */
.container.footer {
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 0.8rem;
}

/* Article card styling */
.main-container .card:first-child {
    margin-top: 0px;
    margin-bottom: 8px;
}
.main-container .card:last-child {
    margin-top: 8px;
    margin-bottom: 0px;
}
.main-container .card {
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px #888888;
}
.card-subtitle {
    margin-bottom: 1rem !important;
}

body.bg-primary {
    background: #F7F7F7 !important;
}