{% extends "_default.html" %}
{% set active_page = "industry-supporters" %}

{% block title %}Industry Supporters{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Industry Supporters</h4>
    <p class="card-text">
        The following companies are generously sponsoring EBESS to help you out, the students!
        We've compiled some brief company profiles so that you can see what these companies are about,
        and if you can score some VAC work or a graduate job with them.
    </p>
    <p class="card-text">
        <ul>
            <!-- <li><a href="../article/cochlear-profile.html">Cochlear Company Profile</a></li> -->
            <li><a href="../article/em-solutions-profile.html">EM Solutions Company Profile</a></li>
            <li><a href="http://www.whitehavennews.com.au/">Whitehaven Coal</a></li>
            <!--<li><a href="https://www.accenture.com/au-en/new-applied-now">Accenture </a></li>-->
            <!--<li><a href="http://www.bain.com/">Bain and Company</a></li>-->
        </ul>
    </p>
    <div class="container text-center">
        <div class="row sponsor-row">
            <!--<div class="col-sm-12 col-md-3">
                <span class="sponsor-helper"></span>
                <a href="http://www.cochlear.com"><img class="sponsor-img" src="../img/cochlear-logo.png"></img></a>
            </div>-->
            <div class="col-sm-12 col-md-3">
                <span class="sponsor-helper"></span>
                <a href="http://www.emsolutions.com.au/"><img class="sponsor-img" src="../img/em-solutions.png"></img></a>
            </div>
            <div class="col-sm-12 col-md-3">
                <span class="sponsor-helper"></span>
                <a href="http://www.whitehavennews.com.au/"><img class="sponsor-img" src="../img/whitehaven-coal-logo.png"></img></a>
            </div>
           <!-- <div class="col-sm-12 col-md-3">
                <span class="sponsor-helper"></span>
                <a href="https://www.accenture.com/au-en/new-applied-now"><img class="sponsor-img" src="../img/Accenture-Logo-Big.png"></img></a>
            </div>
            <div class="col-sm-12 col-md-3">
                <span class="sponsor-helper"></span>
                <a href="http://www.bain.com/"><img class="sponsor-img" src="../img/bain-and-company.png"></img></a>
            </div>-->
        </div>
    </div>
  </div>
</div>
{% endblock %}