{% extends "_default.html" %}
{% set active_page = "for-students" %}

{% block title %}For Students{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">For Students</h4>
    <p class="card-text">
        Here are the links to all of our activities relevant to you, the students!
    </p>
    <h5 class="card-title">Subject Guide 2018</h5>
    <p class="card-text">
        The 2018 executives have put a subject guide together to hopefully guide you 
        through the courses in Electrical, Biomedical, Computer, Software, and Mechatronic Engineering.
    </p>
    <p class="card-text">
        <a href="../files/EBESS_Subject_Guide_2018.pdf">Check it out here!</a>
    </p>
    <h5 class="card-title">Learn To LaTeX</h5>
    <p>
        Each year EBESS hosts a LaTeX information event to invite students into the typesetting world. 
        The 2018 event was revamped to focus on a more practical experience, and for those that missed it, the presentation is available 
        <a href="../file/LaTeX_Presentation.pdf">here</a>. 
        All the resources and example files can be found below, where the latter can 
        be used with a local editor 'as is' or upload the .tex files onto an online editor.
    </p>
    <p class="card-text">
        <b>Presentation Resources</b>
    </br>
        Example Files: <a href="../files/LaTeX_Examples.zip">LaTeX_Examples</a>
    </br>
        Demo Images: <a href="../files/LaTeX_Images.zip">LaTeX_Images</a>
    </br>
        ITEE Student Challenge: <a href="http://www.itee.uq.edu.au/thesis/submission-information">Thesis Submission Information</a>
    </br>
        SoMME Student Challenge: <a href="http://www.mechmining.uq.edu.au/mech-mining-thesis-submission">Thesis Submission Information</a>
    </p>
    <p>
        We also recommend one of the following downloads for using LaTeX on your own computer:
    </br>
        <a href="https://sourceforge.net/projects/texworks.mirror/">TeXworks</a>, 
        <a href="https://www.texstudio.org/">TeXstudio</a>, and 
        <a href="http://texlipse.sourceforge.net/release.html">TeXlipse (plugin for Eclipse IDE)</a>.
    </p>
    <p>
        Alternatively, you can use a cloud-based LaTeX editor such as 
        <a href="http://sharelatex.com">ShareLaTeX</a>.
    </p>
    <p>
        For all other LaTeX information, 
        <a href="http://sharelatex.com/learn">ShareLaTeX</a> 
        has an easily searchable and comprehensive set of documentation.
    </p>
    <p></p>
    <h5 class="card-title">Project Kits</h5>
    <p class="card-text">
        Each year EBESS works to create a DIY project kit for you students to learn about and put together!
    </p>
    <p class="card-text">
        Our current kits are the
        <a href="../article/sequential-logic-clock-kit.html">Sequential Logic Clock Kit</a>
        , the
        <a href="../article/learning-ir-remote-kit.html">Learning IR Remote Control Kit</a>
        , and the new 
        <a href="../article/fm-stero-transmitter-kit.html">FM Stereo Transmitter Kit</a>.
    </p>
  </div>
</div>
{% endblock %}
