{% extends "_default.html" %}
{% set active_page = "for-students" %}

{% block title %}For Students{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">For Students</h4>
    <p class="card-text">
        Here are the links to all of our activities relevant to you, the students!
    </p>
    <h5 class="card-title">Subject Guide 2017</h5>
    <p class="card-text">
        The 2017 executives have put a subject guide together to hopefully guide you 
        through the courses in Electrical, Biomedical, Computer, Software, and Mechatronic Engineering.
    </p>
    <p class="card-text">
        <a href="../files/EBESS_Subject_Guide_2017.pdf">Check it out here!</a>
    </p>
    <h5 class="card-title">Project Kits</h5>
    <p class="card-text">
        Each year EBESS works to create a DIY project kit for you students to learn about and put together!
    </p>
    <p class="card-text">
        Our current kits are the
        <a href="../article/sequential-logic-clock-kit.html">Sequential Logic Clock Kit</a>
        and the
        <a href="../article/learning-ir-remote-kit.html">Learning IR Remote Control Kit</a>.
    </p>
  </div>
</div>
{% endblock %}
